.colorPalette{
    height: 60vh;
    overflow: scroll;
/*     scrollbar-width: none; */
}

.color{
    border: 1px solid #00000040;
    height: 4vh;
    width: 4vw;
    position: relative;
}

.colorPalette::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}