<style>
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
</style>

/* DISABLE DRAG */

.container,
.sidebar{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* ------------------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FLEXBOXES */

body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainArea{
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

        .container{
            display:grid;
        }

        .sidebar{
            align-self:stretch;
            display:flex;
        }

            .canvas-settings{
                display:flex;
                flex-direction: column;
                align-self: center;
                justify-self: center;
            }

/* DECORATIONS */

body{
    font-family: 'VT323','Press Start 2P', monospace;
    background-color: #241f31;
    color: rgb(205, 205, 6);
}

    .header{
        background-color: #171421;
    }

    .mainArea{
        margin: auto;
        gap: 2em;
    }

        .container{
            margin-right:auto;
            -webkit-user-drag: none;
        }

            .gridChild{
                border: 1px solid rgba(255, 255, 255, 0.25);
            }

        .sidebar{
            background-color: #171421;
            border-radius: 2.5%;
            margin-right:auto;
        }

    .footer{
        /* border: 1px solid blue; */
    }

/* HEIGHTS AND WIDTHS */

body,
.header,
.mainArea,
.footer{
    width: 100vw;
}

body{
    height: 100vh;
}

    .header{
        height: 10vh;
    }

    .footer{
        height: 10vh;
    }

    .container{
        height: 60vh;
        width: 60vh;
    }

/* ADD EASTER EGG */

.easteregg{
    height:1vh;
    width:1vh;
    background-color: blueviolet;
    margin-top:auto;
    margin-left:auto;
}

