@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');


/* DISABLE DRAG */

.container,
.topbar{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* ------------------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    height:2.5vh;
    width: auto;
}

a{  
    color: white;
    text-decoration: none;
}

.gridChild{
    transition: all 0.1s ease-in-out;
}

/* FLEXBOXES */

body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainArea{
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

        .container{
            display:grid;
        }

        .topbar{
            align-self:stretch;
            display:flex;
        }

            .canvas-settings{
                display:flex;
                flex-direction: row;
                align-self: center;
                gap: 30px;
            }

    .footer{
        display:flex;
        align-items: center;
        justify-content: center;
    }

/* DECORATIONS */

body{
    font-family: 'VT323','Press Start 2P', monospace;
    background-color: #141518;
    color: #ffffff;
}

    .header,
    .footer{
        background-color: #333333;
    }

    .topbar{
        background-color: #222222;
    }

    .clearButton,
    .gridButton{
        border-radius: 10%;
        align-self: center;
        padding: 5px 10px;
    }
    
    .clearButton{
        background-color: #ff315a;
    }

    .mainArea{
        margin: auto;
        gap: 2em;
    }

        .container{
            margin:auto;
            -webkit-user-drag: none;
        }

        .colorPalette{
            border: 1px solid rgba(255, 255, 255, 0.5);
            margin: auto 25px;
        }

            .gridChild{
                border: 1px solid rgba(255, 255, 255, 0.5);
            }

        .topbar{
            border-radius: 2.5%;
            font-size: 18px;
        }

        .canvas-settings{
            margin:0 auto;
            text-align: center;
        }


/* HEIGHTS AND WIDTHS */

body,
.header,
.mainArea,
.footer{
    width: 100vw;
}

body{
    height: 100vh;
}

    .header{
        height: 4vh;
    }

    .footer{
        font-family: monospace;
        height: 3vh;
    }

    .container{
        height: 60vh;
        width: 60vh;
    }

    .mainArea{
        height: 80vh;
    }



/* ADD EASTER EGG */

.easteregg{
    height:1vh;
    width:1vh;
    background-color: blueviolet;
    margin-top:auto;
    margin-left:auto;
}

