*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Flexboxes and grids */

body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* start */

body{
    background-color: #3b3b3b;
    height: 100vh;
    width: 100vw;
}

.container{
    display:grid;
    height:65vh;
    width:65vh;
}

.gridChild{
    border: 1px solid rgba(0, 0, 0, 0.25);
}

/* ADD EASTER EGG */

.easteregg{
    height:1vh;
    width:1vw;
    background-color: blueviolet;
    margin-top:auto;
    margin-left:auto;
}